@font-face {
    font-family: sacramento;
    src: url(Sacramento-Regular.ttf);
  }

  @font-face {
    font-family: bb;
    src: url(BebasNeue-Regular.ttf);
  }


body {
    background-image: url("https://img.freepik.com/free-photo/crumpled-white-paperboard_95678-119.jpg?t=st=1655535772~exp=1655536372~hmac=a6803b56f651352253509adff7ad4eff0f6bb48996fd6db6fbb1c13e44711832&w=826");
   background-size:cover;
   margin:0px;
   padding:0px;
   height: 110vh;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
   
}
.grid-container {
    width: 40vw;
    height: 70vh;
    box-shadow: -10px 10px rgb(197, 193, 186);
    border: 2px solid black;
    padding: 0px ;
    gap:1px;
    display:flex;
    flex-direction:column;
    background-color:rgba(234, 217, 217, 0.818);
    -user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}
.grid-small {
    
    margin: 0px;;
    height:1.23em;
    width:1.54em;
    background-color:rgb(255, 255, 255);
}

.grid-medium {
    
    margin: 0px;;
    height:0.86em;
    width:1.08rem;
    background-color:rgb(243, 243, 243);
}

.grid-large {
    
    margin: 0px;;
    height:0.655em;
    width:0.822em;
    background-color:rgb(243, 243, 243);
}

.row {
    display: flex;
    gap:1px;

}

.main-logo { 
    font-family: sacramento;
    padding:0%;
    height:18vh;
    width: 100vw;
    display:flex;
    font-size: 6rem;
    justify-content:center;
    color:black;
}


.main-content {
    display: flex;
    width:100vw;
    justify-content: space-around;
   
}



footer {
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: aliceblue;
}

.buttons{
   
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

}

.buttons button,.grid-size{
    transition: all 0.4s;
    box-shadow: -5px 5px rgb(172, 169, 164);
    font-size: 1.8rem;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: bb;
    border: 2px solid rgb(11, 10, 10);
    
  

}

#colorpicker {
    display: flex;
    margin-top: -4vh;
    width:10vw;
    height:5vh;
   
}

.info {
    font-size: 1.15em;
    font-family: bb;
    align-self: center;
}

.secret-link {
    transition: all 0.4s;
    font-family: bb;
   text-decoration: none;
   color:black;
   border:2px solid black;
   padding: 20px;
   box-shadow: -5px 5px rgb(172, 169, 164);
}

.size-section {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

button:hover,a:hover {
    color:whitesmoke;
    background-color: black;
}

.btn {
    color:whitesmoke;
    background-color: black;
}



